@page "/"
@attribute [AllowAnonymous]

<style>
    .hero {
        margin-bottom: 0;
        background-image: url('/Assets/WebPage/picture_bg.jpg'); /*url('/Assets/WebPage/blue_bg_watermark.jpg');*/
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        /*height: 25em;*/
    }

/*    .imgs {
        width: 50%;
        height: 100%;
        object-fit: fill;
    }

    .imgHeading {
        margin-top: .5rem;
    }

    .borderWidth {
        border-width: 5px !important;
    }

    .imageHero {
        position: relative;
        width: 100%;
    }

    .heroText {
        position: absolute;
        top: 200px;
        left: 0;
        width: 100%;
    }*/
</style>

<AuthorizeView>

    <Authorized>

        <VirtualMap />

    </Authorized>

    <NotAuthorized>

        @*Do HERO IMAGE LATER*@
        <div class="container-fluid text-white hero">
            <div class="row align-items-center pt-5">
                <div class="col-7 pl-5 pb-3 pt-5">
                    <h1 class="h1 hero-text widow-orpah-me" style="font-weight:900">@Localizer["Take part in Educ8's interactive learning experience"]</h1>
                </div>

                <div class="col-7 pt-5 pl-5 pb-5">
                    <a class="btn rounded-pill text-white" style="background-color:#af3182;" href="Identity/Account/Register">
                        @Localizer["JOIN NOW"]
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center p-5" style="background-color:#303b3d; color:#dbdc52;">

            <div class="container" style="height:100%;">
                <div class="row align-items-center pt-5 pb-5">
                    <h1 class="h1 hero-text widow-orpah-me">
                        @Localizer["Discover places of history along the way from Chepstow to Chester"]
                    </h1>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center text-white p-5" style="background-color:#474e58;">
            <h1 class="h1 pb-5">
                @Localizer["Visit exciting places in and around Wales"]
            </h1>

            <div class="row">
                <div class="col-sm">
                    <img src="/Assets/WebPage/CardiffCastleRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">@Localizer["Cardiff Castle"]</h5>
                </div>

                <div class="col-sm">
                    <img src="/Assets/WebPage/StDavidsCathedralRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">@Localizer["St. Davids Cathedral"]</h5>
                </div>

                <div class="col-sm">
                    <img src="/Assets/WebPage/BeddGelertRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">@Localizer["Bedd Gelert"]</h5>
                </div>
            </div>
        </div>
    
    </NotAuthorized>

</AuthorizeView>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRunTime.InvokeVoidAsync("window.onload");
        }
    }
}
