@page "/"
@attribute [AllowAnonymous]

<AuthorizeView>

    <Authorized>

        <VirtualMap />

    </Authorized>

    <NotAuthorized>

        @*Do HERO IMAGE LATER*@
        <div class="container-fluid text-white hero">
            <div class="row align-items-center pt-5 heroOverlay">
                <div class="col-sm-12 col-md-7 pl-5 pb-3 pt-5">
                    <h1 class="h1 hero-text widow-orpah-me" style="font-weight:900">@Localizer["Take part in Educ8’s interactive learning experience by using our easy smartphone app whilst you walk the great Welsh Coastal Path"]</h1>
                </div>

                <div class="col-7 pt-5 pl-5 pb-5">
                    <a class="btn rounded-pill text-white" style="background-color:#af3182;" href="Identity/Account/Register">
                        @Localizer["JOIN NOW"]
                    </a>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center p-5" style="background-color:#303b3d; color:#dbdc52;">

            <div class="container" style="height:100%;">
                <div class="row align-items-center pt-5 pb-5">
                    <h1 class="h1 hero-text widow-orpah-me">
                        @Localizer["At Educ8 we are passionate about the Welsh language and our culture; our app will take you virtually around the magnificent Welsh Coast, recording how far you’ve travelled and pointing out places of interest on the way through our interactive map"]
                    </h1>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center text-white p-5" style="background-color:#474e58;">
            <h1 class="h1 hero-text pb-5">
                @Localizer["Visit exciting places in and around Wales"]
            </h1>

            <div class="row">
                <div class="col-sm">
                    <img src="/Assets/WebPage/CardiffCastleRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">@Localizer["Cardiff Castle"]</h5>
                </div>

                <div class="col-sm">
                    <img src="/Assets/WebPage/StDavidsCathedralRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">@Localizer["St. Davids Cathedral"]</h5>
                </div>

                <div class="col-sm">
                    <img src="/Assets/WebPage/BeddGelertRound.png" class="img-fluid" />
                    <h5 class="h5 p-3">@Localizer["Bedd Gelert"]</h5>
                </div>
            </div>
        </div>

    </NotAuthorized>

</AuthorizeView>

@code
{
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await jsRunTime.InvokeVoidAsync("window.onload");
        }
    }
}
