@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

@*<div class="container">
        <h1>@ViewData["Title"]</h1>

        <div class="row">
            <div class="col-md-4">
                <h4>Please enter your email address below and we will send you information to change your password.</h4>
                <hr />
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>*@

<div class="container-fluid Log">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div style="background-color:#eaeaea;">
                    <div class="card-header text-center">
                        <h2>@Localizer[@ViewData["Title"].ToString()]</h2>
                    </div>
                    <div class="card-body">

                        @if (Model.DisplayMessage)
                        {
                        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">
                            <a>@Localizer["Please check your email to reset your password"]</a>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        }

                        <p class="widow-orpah-me text-center">@Localizer["Please enter your email address below and we will send you information to change your password"]</p>
                        <form method="post" id="form">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend frmIconWidth">
                                        <span class="input-group-text justify-content-center w-100">
                                            <i class="oi oi-envelope-closed iconColor"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Email" class="form-control" placeholder="@Localizer["Enter email"]:" />
                                </div>
                            </div>
                            <button type="submit" class="btn rounded-0 text-white shadow" style="background-color:#af3182; width:100%;">@Localizer["Reset password"]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
