@page
@model LoginModel
@{
    ViewData["Title"] = "Log In";
}

<div class="container-fluid Log">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="card shadow" style="background-color:#eaeaea;">
                    <div class="card-body">
                        <form id="account" method="post">
                            <h4 class="text-center">@Localizer[@ViewData["Title"].ToString()]</h4>
                            <hr />
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="form-group">

                                <div class="input-group mb-3">

                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1">
                                            <i class="oi oi-person iconColor"></i>
                                        </span>
                                    </div>

                                    <input asp-for="Input.UserName" class="form-control" placeholder="@Localizer["Username"]:" />
                                    @*<span asp-validation-for="Input.UserName" class="text-danger"></span>*@

                                </div>

                            </div>

                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="oi oi-lock-locked iconColor"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Password" class="form-control" placeholder="@Localizer["Password"]:" />
                                    @*<span asp-validation-for="Input.Password" class="text-danger"></span>*@
                                </div>
                            </div>

                            <div class="d-flex justify-content-between flex-wrap form-group">
                                <div class="justify-content-start checkbox">
                                    <label asp-for="Input.RememberMe">
                                        <input asp-for="Input.RememberMe" />
                                        @Localizer[@Html.DisplayNameFor(m => m.Input.RememberMe)]
                                    </label>
                                </div>
                                <div class="justify-content-end">
                                    <p>
                                        <a id="forgot-password" asp-page="./ForgotPassword">@Localizer["Forgot password"]?</a>
                                    </p>
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn rounded-0 text-white shadow" style="background-color:#af3182; width:100%;">@Localizer["Log In"]</button>
                            </div>

                        </form>
                    </div>

                    <div class="card-footer">
                        <form id="account" method="post">
                            <div class="d-flex justify-content-center">
                                <div class="form-group">
                                    <p>
                                        @Localizer["Don't have an account?"]
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Register here"]</a>
                                    </p>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
