@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Account register confirmation";
}

@*<div class="container-fluid p-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Please check your email to confirm your account.
    </p>
</div>*@

<div class="container-fluid Log">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div style="background-color:#eaeaea;">
                    <div class="card-header text-center">
                        <h2>@Localizer[@ViewData["Title"].ToString()]</h2>
                    </div>
                    <div class="card-body">

                        <h3 class="text-center">@Localizer["Please check your email to confirm your account"]</h3>
                        <br />
                        <p class="lead text-center">@Localizer["Didn't receive an email within 15 minutes? Click the button below"]</p>

                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <button type="submit" class="btn rounded-0 text-white" style="background-color:#af3182; width:100%;">@Localizer["Resend email"]</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
