@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="container-fluid Log">

    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-12">
                <div class="card shadow" style="background-color:#eaeaea;">
                    <div class="card-header">
                        <h2>@Localizer[@ViewData["Title"].ToString()]</h2>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <input asp-for="Input.Code" type="hidden" />

                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend frmIconWidth">
                                        <span class="input-group-text justify-content-center w-100">
                                            <i class="oi oi-envelope-closed iconColor"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Email" class="form-control" placeholder="@Localizer["Email"]:" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend frmIconWidth">
                                        <span class="input-group-text justify-content-center w-100">
                                            <i class="oi oi-lock-locked iconColor"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.Password" class="form-control" placeholder="@Localizer["Password"]:" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend frmIconWidth">
                                        <span class="input-group-text justify-content-center w-100">
                                            <i class="oi oi-lock-locked iconColor"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="@Localizer["Confirm Password"]:" />
                                </div>
                            </div>
                            <button type="submit" class="btn rounded-0 text-white shadow" style="background-color:#af3182; width:100%;">@Localizer["Reset"]</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
